# Dipendenze e Build
node_modules/
dist/
dist-ssr/
build/
.vite/
.parcel-cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Environment / Segreti
.env
.env.local
.env.*.local

# Editor (VS Code)
.vscode/*
!.vscode/extensions.json
.DS_Store

# Temporanei sistema
Thumbs.db
*.swp
.vercel
